<%- include("template/head.ejs", {tituloWeb: 'Pagina Inicio'}); %> 
    <h1 class="text-primary ms-3">Sitio Web Inicio</h1>
    <h2 class="text-primary ms-3"><%= titulo %></h2>
<%- include('template/footer.ejs'); %>